
*.exe
*.tlog
*.idb
*.pdb
*.exp
*.ilk
*.lib
*.bmp
*.obj
*.deps
*.log
*.cache
.vs/MasteringRealTimeRayTracing/v15/.suo
.vs/MasteringRealTimeRayTracing/v15/Browse.VC.db
*.opendb
*.ipch
*.iobj
*.ipdb
*.db
*.db-shm
*.db-wal
